[submodule "micropython"]
	path = micropython
	url = https://github.com/micropython/micropython.git
[submodule "mod_efont/cmodules/mpy-qr"]
	path = mod_efont/cmodules/mpy-qr
	url = https://github.com/dotnfc/mpy-qr
